<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @occupational_category.code %>
</p>

<p>
  <b>Name:</b>
  <%= @occupational_category.name %>
</p>


<%= link_to 'Edit', edit_occupational_category_path(@occupational_category) %> |
<%= link_to 'Back', occupational_categories_path %>
