<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :organization_hierarchy %><br />
    <%= f.number_field :organization_hierarchy %>
  </div>
  <div class="field">
    <%= f.label :higt_department_code %><br />
    <%= f.collection_select 'higt_department_code',Department.find(:all),:id, :name, { :include_blank => true} %>     
  </div>  
  <div class="field">
    <%= f.label :data_input %><br />
    <%= f.text_field :data_input %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
