<h1>Home#index</h1>
<p>業務システムの主なマスタデータ</p>
<ul>
  <li>
    <%= link_to t('.Departments'), departments_path %>
  </li>
  <li>
    <%= link_to t('.Occupational_Categories'), occupational_categories_path %>
  </li>
  <li>
    <%= link_to t('.Electrnic_approvals'), electronic_approvals_path %>
  </li>  
  <li>
    <%= link_to t('.Employees'), employees_path %>
  </li>
  <li>
    <%= link_to t('.Product_groupings'), product_groupings_path %>
  </li>  
  <li>
    <%= link_to t('.Products'), products_path %>
  </li>
  <li>
    <%= link_to t('.Sales_unit_price_by_customers'), sales_unit_price_by_customers_path %>
  </li>
  <li>
    <%= link_to t('.ConnectionGroup'), connection_groups_path %>
  </li>    
  <li>
    <%= link_to t('.Connection'), connections_path %>
  </li>
  <li>
    <%= link_to t('.Supplier'), suppliers_path %>
  </li>
  <li>
    <%= link_to t('.Customer'), customers_path %>
  </li>    
  <li>
    <%= link_to t('.Shipment'), shipments_path %>
  </li>
  <li>
    <%= link_to t('.ConnectionCategoryClass'), connection_category_classes_path %>
  </li>
  <li>
    <%= link_to t('.ConnectionCategory'), connection_categories_path %>
  </li>  
  <li>
    <%= link_to t('.ConnectionCategoryMember'), connection_category_members_path %>
  </li>
</ul>

