<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :branch_number %><br />
    <%= f.number_field :branch_number %>
  </div>
  <div class="field">
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </div>
  <div class="field">
    <%= f.label :billing_code %><br />
    <%= f.text_field :billing_code %>
  </div>
  <div class="field">
    <%= f.label :billing_branch_number %><br />
    <%= f.number_field :billing_branch_number %>
  </div>
  <div class="field">
    <%= f.label :collect_code %><br />
    <%= f.text_field :collect_code %>
  </div>
  <div class="field">
    <%= f.label :collect_branch_number %><br />
    <%= f.number_field :collect_branch_number %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name_kana %><br />
    <%= f.text_field :name_kana %>
  </div>
  <div class="field">
    <%= f.label :company_person_responsible_code %><br />
    <%= f.text_field :company_person_responsible_code %>
  </div>
  <div class="field">
    <%= f.label :person_responsible_name %><br />
    <%= f.text_field :person_responsible_name %>
  </div>
  <div class="field">
    <%= f.label :department_name %><br />
    <%= f.text_field :department_name %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :prefectures %><br />
    <%= f.text_field :prefectures %>
  </div>
  <div class="field">
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1 %>
  </div>
  <div class="field">
    <%= f.label :address_2 %><br />
    <%= f.text_field :address_2 %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :fax_number %><br />
    <%= f.text_field :fax_number %>
  </div>
  <div class="field">
    <%= f.label :mail %><br />
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :collect_division %><br />
    <%= f.text_field :collect_division %>
  </div>
  <div class="field">
    <%= f.label :closing_day_1 %><br />
    <%= f.text_field :closing_day_1 %>
  </div>
  <div class="field">
    <%= f.label :payment_month_1 %><br />
    <%= f.text_field :payment_month_1 %>
  </div>
  <div class="field">
    <%= f.label :payment_day_1 %><br />
    <%= f.text_field :payment_day_1 %>
  </div>
  <div class="field">
    <%= f.label :payment_method_1 %><br />
    <%= f.text_field :payment_method_1 %>
  </div>
  <div class="field">
    <%= f.label :closing_day_2 %><br />
    <%= f.text_field :closing_day_2 %>
  </div>
  <div class="field">
    <%= f.label :payment_month_2 %><br />
    <%= f.text_field :payment_month_2 %>
  </div>
  <div class="field">
    <%= f.label :payment_day_2 %><br />
    <%= f.text_field :payment_day_2 %>
  </div>
  <div class="field">
    <%= f.label :payment_method_2 %><br />
    <%= f.text_field :payment_method_2 %>
  </div>
  <div class="field">
    <%= f.label :connection_id %><br />
    <%= f.collection_select :connection_id, Connection.all, :id, :name, { include_blank: true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
