<p id="notice"><%= notice %></p>

<p>
  <b>Order number:</b>
  <%= @order.order_number %>
</p>

<p>
  <b>Order date:</b>
  <%= @order.order_date %>
</p>

<p>
  <b>Department:</b>
  <%= @order.department_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @order.customer_id %>
</p>

<p>
  <b>Employee:</b>
  <%= @order.employee_id %>
</p>

<p>
  <b>Desired delivery time:</b>
  <%= @order.desired_delivery_time %>
</p>

<p>
  <b>Customer order number:</b>
  <%= @order.customer_order_number %>
</p>

<p>
  <b>Warehouse code:</b>
  <%= @order.warehouse_code %>
</p>

<p>
  <b>Contract amount sum:</b>
  <%= @order.contract_amount_sum %>
</p>

<p>
  <b>Consumption tax amount:</b>
  <%= @order.consumption_tax_amount %>
</p>

<p>
  <b>Notes:</b>
  <%= @order.notes %>
</p>

<table>
  <tr>
    <th>OrderLineNumber</th>
    <th>ProductId</th>
    <th>ProductName</th>
    <th>ProductSalesUnitPrice</th>
    <th>OrderAmount</th>
    <th>ConsumptionTaxRate</th>
    <th>ReserveAmount</th>
    <th>ShippingInstructionsAmount</th>
    <th>ShippedAmount</th>
    <th>FinishFlg</th>
    <th>Discount</th>
    <th>DueDate</th>        
  </tr>

<% @order.order_detail.each do |order_detail| %>
  <tr>
    <td><%= order_detail.order_line_number %></td>
    <td><%= order_detail.product_id %></td>
    <td><%= order_detail.product_name %></td>
    <td><%= order_detail.product_sales_unit_price %></td>
    <td><%= order_detail.order_amount %></td>
    <td><%= order_detail.consumption_tax_rate %></td>
    <td><%= order_detail.reserve_amount %></td>
    <td><%= order_detail.shipping_instructions_amount %></td>
    <td><%= order_detail.shipped_amount %></td>
    <td><%= order_detail.finish_flag %></td>
    <td><%= order_detail.discount %></td>
    <td><%= order_detail.due_date %></td> 
  </tr>      
<% end %>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
