<%= form_for(@electronic_approval) do |f| %>
  <% if @electronic_approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@electronic_approval.errors.count, "error") %> prohibited this electronic_approval from being saved:</h2>

      <ul>
      <% @electronic_approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
