<h1>Listing electronic_approvals</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @electronic_approvals.each do |electronic_approval| %>
  <tr>
    <td><%= electronic_approval.code %></td>
    <td><%= electronic_approval.name %></td>
    <td><%= link_to 'Show', electronic_approval %></td>
    <td><%= link_to 'Edit', edit_electronic_approval_path(electronic_approval) %></td>
    <td><%= link_to 'Destroy', electronic_approval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Electronic approval', new_electronic_approval_path %>
