<h1>Listing connection_groups</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @connection_groups.each do |connection_group| %>
  <tr>
    <td><%= connection_group.code %></td>
    <td><%= connection_group.name %></td>
    <td><%= link_to 'Show', connection_group %></td>
    <td><%= link_to 'Edit', edit_connection_group_path(connection_group) %></td>
    <td><%= link_to 'Destroy', connection_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Connection group', new_connection_group_path %>
