<h1>Listing shipments</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Zip</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shipments.each do |shipment| %>
  <tr>
    <td><%= shipment.number %></td>
    <td><%= shipment.name %></td>
    <td><%= shipment.zip %></td>
    <td><%= shipment.address_1 %></td>
    <td><%= shipment.address_2 %></td>
    <td><%= shipment.customer.name %></td>
    <td><%= link_to 'Show', shipment %></td>
    <td><%= link_to 'Edit', edit_shipment_path(shipment) %></td>
    <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipment', new_shipment_path %>
