<h1>Listing connection_category_members</h1>

<table>
  <tr>
    <th>Connection</th>
    <th>Connection category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @connection_category_members.each do |connection_category_member| %>
  <tr>
    <td><%= connection_category_member.connection.name %></td>
    <td><%= connection_category_member.connection_category.name %></td>
    <td><%= link_to 'Show', connection_category_member %></td>
    <td><%= link_to 'Edit', edit_connection_category_member_path(connection_category_member) %></td>
    <td><%= link_to 'Destroy', connection_category_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Connection category member', new_connection_category_member_path %>
